body {
    padding-top: 3%; /* space for the top nav bar */
    font-size: 14px !important;
}

#pieChart > p{
    margin-left: 50px;
    width: 40%;
    padding-top: 15px;
}


html, body {
    height: 100%;
    overflow: hidden;
}

svg{
    margin-left: 0%;
    /*width: 100% !important;
    height: 40% !important;*/
   /* width: 530px !important;
    height: 490px !important;*/
}


.data-container {
    height: calc(100vh - 55px);
    width: calc(30vw - 36px);
    overflow: auto;
}


.report-dropdowns {
    margin-left: 7.5%;
    padding-top: 2%;
    font-size: 8px !important;
    visibility: hidden;   
}

.svgcanvas{
    margin-left: 2%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 51vh;
    left: 28%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 47% !important;
    width: 40vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 28%;
    right: 0;
    
}

#viewerSecondary {
    height: 47% !important;
    width: 40vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 53vh;
    left: 28%;
    right: 0;
    
}

#positionCharts {
    height: 94vh !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 67%;
    top: 6%;
    right: 0;
    overflow: auto;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* IPad Pro Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
}

/* IPad Pro Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 5%; /* space for the top nav bar */
    font-size: 10px !important;
}

.button-ipad{
    margin-top: 80%;
}

svg{
    margin-left: -1%;
    width: 270px !important;
    height: 270px !important;
}

#pieChart {
    margin-left: -3%;
    width: 530px;
    height: 360px;
    margin-top: -10%;
}

#barChart {
    margin-left: -3%;
    width: 525px;
    height: 360px;
    margin-top: -10%;
}

.data-container {
    height: calc(100vh - 55px);
    width: calc(30vw - 36px);
    overflow: auto;
}

.report-dropdowns {
    margin-left: 2%;
    padding-top: 1%;
    font-size: 7px !important;
    visibility: hidden;   
}

.svgcanvas{
    margin-left: 2%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 50vh;
    left: 28%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 47% !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 28%;
    right: 0;
    
}

#viewerSecondary {
    height: 47% !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 53vh;
    left: 28%;
    right: 0;
    
}

#positionCharts {
    height: 92vh !important;
    width: 27vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 73%;
    top: 8%;
    right: 0;
    
}

}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
/* Styles */

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 5%; /* space for the top nav bar */
   font-size: 12px !important;
}

svg{
    margin-left: 0%;
    width: 440px !important;
    height: 460px !important;
}

#pieChart {
    margin-left: -3%;
    width: 525px;
    height: 460px;
    margin-top: -3%;
}

.report-dropdowns {
    margin-left: 7.5%;
    padding-top: 2%;
    font-size: 8px !important;
    visibility: hidden;   
}

.svgcanvas{
    margin-left: 2%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 51vh;
    left: 28%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 47% !important;
    width: 40vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 28%;
    right: 0;
    
}

#viewerSecondary {
    height: 47% !important;
    width: 40vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 53vh;
    left: 28%;
    right: 0;
    
}

#positionCharts {
    height: 94vh !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 67%;
    top: 6%;
    right: 0;
    overflow: auto;
}
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1367px) {
/* Styles */

html, body {
    height: 100%;
    overflow: hidden;
}

body {
   padding-top: 4%; /* space for the top nav bar */  
   font-size: 14px !important;
}

svg{
    margin-left: 2%;
    width: 640px !important;
    height: 460px !important;
}

#pieChart {
    margin-left: 2%;
    width: 725px;
    height: 460px;
    margin-top: -3%;
}

.data-container {
    height: calc(100vh - 55px);
    width: calc(30vw - 36px);
    overflow: auto;
}

.report-dropdowns {
    margin-left: 4%;
    padding-top: 1%;
    font-size: 12px !important;
    visibility: hidden;   
}


.svgcanvas{
    margin-left: -5%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 51vh;
    left: 28%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 47% !important;
    width: 40vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 28%;
    right: 0;
    
}

#viewerSecondary {
    height: 47% !important;
    width: 40vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 53vh;
    left: 28%;
    right: 0;
    
}

#positionCharts {
    height: 94vh !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 69%;
    top: 6%;
    right: 0;
    overflow: auto;
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */

html, body {
    height: 100%;
    overflow: hidden;
}


body {
   padding-top: 3%; /* space for the top nav bar */  
   font-size: 14px !important;
}

svg{
    margin-left: 0%;
    width: 700px !important;
    height: 460px !important;
}

#pieChart {
    margin-left: 0%;
    width: 600px;
    height: 460px;
    margin-top: 0%;
}
.data-container {
    height: calc(100vh - 55px);
    width: calc(30vw - 38px);
    overflow: auto;
}

.report-dropdowns {
    margin-left: 5%;
    padding-top: 1%;
    font-size: 14px !important;
    visibility: hidden;   
}


.svgcanvas{
    margin-left: 2%;
}

#dropdown2dviews {
    height: 2%;
    width: 40% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 51vh;
    left: 28%;
    right: 0;
    z-index: 2;
    visibility: hidden;
}


#forgeViewer {
    height: 47% !important;
    width: 40vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 4%;
    left: 28%;
    right: 0;
    
}

#viewerSecondary {
    height: 47% !important;
    width: 40vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 53vh;
    left: 28%;
    right: 0;
    
}

#positionCharts {
    height: 94vh !important;
    width: 45vw !important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 66%;
    top: 6%;
    right: 0;
}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}