html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 61px; /* space for the top nav bar */
}

.btn-position{
    margin-left: 25%;
    margin-top: 90%
}

#pieChart{
    margin-top: 10%;
    margin-left: -5%
}

#barChart{
    margin-top: 10%;
    margin-left: -6%;
}

.data-container {
    height: calc(100vh - 100px);
    width: calc(27vw - 50px);
    overflow: auto;
}


#forgeViewer {
    height: 47% !important;
    width: 45% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 2%;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 25%;
    background-color: #bcbcbc;
}

#viewerSecondary {
    height: 47% !important;
    width: 45% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 27%;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 25%;
    background-color: #bcbcbc;
}


#positionCharts {
    height: 96% !important;
    width: 25% !important;
    display: block;
    position: absolute;
    bottom: 0;
    top: 5%;
    left: 75%;
    right: 0;
    margin-bottom: 0px;
    margin-right: 0px;
   
}